*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide{
    display: none;
}
.pvisible{

    display:block;
}
li{
    margin: 50px;
    padding-left: 100px;
    font-size: 30px;
}

.filmswrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 500px;
}
p{
    font-size: 30px;
}