*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    
}
.kbutton{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
    background-color: #cfdaec;
    font-size: 15px;
}
.printbox{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid black;
}